/**
 * @file style file of Pager component
 * @date 2022-01-06
 * @author lidaoping
 * @lastModify lidaoping 2022-01-06
 */
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 START * --------------------------- */

.pagination_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination_pages {
    display: flex;
}

.pagination_pageItem {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 3px;
    border: 1px solid $transparent;
    transition: border 0.25s;
    &.active {
        border: 1px solid $auxiliary_500;
    }
}

.pagination_pageItem:hover {
    border: 1px solid $auxiliary_500;
    cursor: pointer;
}

.pagination_pageItem_default {
    border-radius: 5px;
}

.pagination_pageItem_solid {
    border: 1px solid $neutral_200;
}

.pagination_point {
    font-size: 20px;
    line-height: 20px;
    margin: 0 5px;
}

@mixin iconStyle {
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border: 1px solid $transparent;
    margin: 0 3px;
    transition: border 0.25s;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        border: 1px solid $auxiliary_500;
    }
    &.disabled {
        cursor: no-drop;
        &:hover {
            border: 1px solid $transparent;
        }
    }
}

@mixin iconSolidStyle {
    border: 1px solid $neutral_200;
    border-radius: 0px;
    &:hover {
        border: 1px solid $auxiliary_500;
    }
    &.disabled {
        &:hover {
            border: 1px solid $neutral_200;
        }
    }
}

.pagination_prevFirstPageContainer {
    @include iconStyle();
}

.pagination_prevPageContainer {
    @include iconStyle();
}

.pagination_nextPageContainer {
    @include iconStyle();
}

.pagination_nextLastPageContainer {
    @include iconStyle();
}

.pagination_prevFirstPageContainer_solid {
    @include iconSolidStyle();
}

.pagination_prevPageContainer_solid {
    @include iconSolidStyle();
}

.pagination_nextPageContainer_solid {
    @include iconSolidStyle();
}

.pagination_nextLastPageContainer_solid {
    @include iconSolidStyle();
}

/* <--------------------------- * SECTION1 END * --------------------------- */
