.scroll_container {
    display: flex;
    justify-content: space-between;

    .container_contentBox {

    }
    .container_sidebar {
        // position: relative;
        width: 10px;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        .sidebar_bar {
            width: 10px;
            // height: 20px;
            border-radius: 5px;
            background-color: aqua;
        }
    }
}