/**
* @file 
* @date 2022-07-11
* @author 
* @lastModify  2022-07-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '../../Constant/breakPoint.scss';
@import '../../Constant/font.scss';
@import '../../Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */

.scroll_container {
    position: relative;
    padding-right: 6px;
    box-sizing: content-box;
    background-color: skyblue;
    // overflow: hidden;
}

.scroll_box {
    // position: absolute;
    // left: 0;
    // top: 0;
    transition: transform 0.2s;
}

.scroll_colbar {
    position: absolute;
    width: 6px;
    height: 50px;
    right: 0;
    top: 0;
    border-radius: 3px;
    transition: transform 0.2s;
    background-color: $neutral_300;
    z-index: 99999;
    cursor: pointer;
}

.scroll_rowbar {
    position: absolute;
    width: 50px;
    height: 6px;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: $neutral_300;
    z-index: 99999;
    cursor: pointer;
}
