.fullpage {
    // height: 100vh;
    display: flex;
    justify-content: center;
    transition: all 0.1s;
    margin-top: 100px;
    .section {
        width: 100%;
        height: 100vh;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin-bottom: 0;
}

.email_box {
    width: 600px;
    height: 811px;
}
